# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio/IntelliJ
.idea/
*.iml

# OS generated
.DS_Store
Thumbs.db

# NDK / external builds
.externalNativeBuild/
.cxx/

# Captures
captures/

# Misc
*.log
